RewriteEngine On

# Views
RewriteRule ^$ /controllers/home.php [L]
RewriteRule ^login$ /controllers/login_view.php [L]
RewriteRule ^registro$ /controllers/register_view.php [L]

# Actions
RewriteRule ^actions/login$ /controllers/actions/login.php [L]
RewriteRule ^actions/register$ /controllers/actions/register.php [L]