RewriteEngine On

# Views
RewriteRule ^$ /app/controllers/home.php [L]
RewriteRule ^login$ /app/controllers/login_view.php [L]
RewriteRule ^registro$ /app/controllers/register_view.php [L]
RewriteRule ^dashboard$ /app/controllers/dashboard_view.php [L]
RewriteRule ^logout$ /app/controllers/logout.php [L]
RewriteRule ^rule$ /app/controllers/rule_view.php [L]

# Actions

# -- Auth
RewriteRule ^actions/auth/login$ /app/controllers/actions/auth/login.php [L]
RewriteRule ^actions/auth/register$ /app/controllers/actions/auth/register.php [L]
RewriteRule ^actions/auth/logout$ /app/controllers/actions/auth/logout.php [L]

# -- Search
RewriteRule ^actions/search/$ /app/controllers/actions/search/search.php [L]

# -- Rules
RewriteRule ^actions/rules/get$ /app/controllers/actions/rules/get.php [L]
RewriteRule ^actions/rules/get_list$ /app/controllers/actions/rules/get_list.php [L]
RewriteRule ^actions/rules/create$ /app/controllers/actions/rules/create.php [L]
RewriteRule ^actions/rules/delete$ /app/controllers/actions/rules/delete.php [L]
RewriteRule ^actions/rules/update$ /app/controllers/actions/rules/update.php [L]

# -- Configuration
RewriteRule ^actions/configuration/update$ /app/controllers/actions/configuration/update.php [L]
