/* general */
*{
    user-select: none !important;
}
:root {
    --blue-sky: #2699fb;
    --blue: #016794;
}
/* general */
body{
    background: #f2f3f4;
    padding-bottom: 3rem;
}
.box{
    background: white;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,.1);
    padding: 1rem;
    width: 95%;
    max-width: 900px;
}
/* general */
.text-primary-cursos {
    color: var(--blue);
}
.bg-primary-cursos {
    background-color: var(--blue-sky);
}
/* LOGIN REGISTER */
.form-login, .form-register{
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .1);
    margin-top: 2rem;
}
.form-login {
    max-width: 450px;
}
.alert{
    display: none;
    position: fixed;
    width: 95%;
    max-width: 400px;
    text-align: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999999999999999999999999999999;
}
/* LOGIN REGISTER*/
body .mutiple-select.slim {
    height: auto !important;
    padding: 10px 15px !important;
}
body .mutiple-select .main-content .selected-itens .item .btn-remove {
    width: 20px !important;
    margin-left: 10px !important;
}